ion-header{
    // background-color: #ff9600 !important;
    background-image: url("../../../../assets/img/header-fondo-app.png");
    background-size:auto;
    background-position: center;
    // height: 100px;
}

.bgRed{
    background-color: #eb4a44!important;
    color: white!important;
}

.back{
    // background-color: rgba(32, 171, 141, 0.5);
    color: white!important;
}