.bgRed{
    background-color: #eb4a44!important;
    color: white!important;
}

.back{
    background-color: rgba(32, 171, 141, 0.5);
    color: white!important;
}

ion-button{
    --background: #ff9600 !important;
}