
.footer{
    background-color: #ff9600;
    position: fixed;
    bottom: 0 !important;
    padding-top: 0;
}

ion-toolbar:root{
    --padding: 0 !important;
    --margin: 0 !important;
}

.btn-home{
    background: #d6e601;
    color: #efefef !important;
}

.btn-logout{
    background: #eb4a44;
    color: #efefef !important;
}