/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


*{
    list-style: none;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    outline: none;
}


.background-login{
    background-image: url("assets/img/fondo-app.jpg");
    background-size: contain;
}

.background-app{
    background-image: url("assets/img/fondo-login.png");
    background-size: contain;
}


.background-modal{
    background-image: url("assets/img/fondo-login.png");
    background-size: contain;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-primario);
    border-radius: 10px;
  }

  

.flexform{
    width: auto;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.itemIon{
    margin: 10px 0px;
    --padding-start: 0px !important;
}
.flexCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapAreas{
    width: 100%;
    height: 30vh;
    max-height: 600px;
    
}

.flexCont .item{
    width: 46%;
    overflow: hidden;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexHead{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0px;
}
.flexHead button{
    background-color: #eb5450;
    margin: 0px ;
    margin-left: auto;
    width: auto !important;
    min-width: inherit;
    display: flex;
    padding: 5px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.flexOpciones{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.flexOpciones p{
   margin-right: auto;
}
.flexOpciones .btnPop{
    padding: 10px;
   margin: 10px;
   border-radius: 50%;
    min-width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-options{
    background-color: #d6e601;
}


ion-list{
    --background: transparent !important;
}
ion-item{
    min-width: 230px;
    --background: transparent !important;
}
ion-badge{
    background-color: rgba($color: #01aa8d, $alpha: 1) !important;
    padding: 3% 5%;
    border-radius: 50px !important;
    font-size: 13pt;
}
ion-toggle {
    border-radius: 50px;
    --background: var(--color-secundario);
    --background-checked: var(--color-secundario);
    --handle-background: var(--color-terciario) !important;
    --handle-background-checked: var(--color-toggle) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
ion-input input{
    background-color: var(--color-primario) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 50px !important;
    color: var(--color-textos) !important;
    height: auto;
    margin: 1% !important;
    margin-left: 3% !important;
    --padding-top: 10px !important;
    --padding-bottom: 10px !important;
    --padding-start: 20px;
}
ion-label{
    color: var(--color-textos)!important;
}
label{
    padding-left: 0px;
}
ion-content {
    --background: var(--color-transparente);
    // #222 url('./assets/img/foto-fondo.png') bottom no-repeat !important
  }

ion-card-content{
    background-color : #ff9600 !important;
}

  .list-ios {
    background: var(--color-transparente);
}
  .ion-page {
    background: var(--color-blanco)  url('./assets/img/fondo-app.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .tab-bar-translucent{
    --ion-background-color: var(--color-primario);
    --background:var(--color-primario);
  }

  hr{
      margin: 15px 0px;
      width: 100%;
      height: 3px;
      background-color: var(--color-terciario);
  }
   .alert-wrapper input {
    border-radius: 0px !important;
    color: #222;
  }

.modalMenu .modal-wrapper {
    z-index: 9;
    --height: 90vh !important;
    --background: var(--color-blanco) !important;
    margin-top: 10vh;
    --border-radius: 20px 20px 0px 0px;


  }
  ion-header{
    --ion-background-color: var(--color-primario);
    --background:var(--color-primario);
    z-index: 9999;
    position: fixed;
    width: 100%;
  }
  
  ion-toolbar{
    --background:var(--color-primario);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: var(--color-botones) !important;
  }
  ion-button,ion-tab-button, ion-label{
    --color: var(--color-botones) !important;
    color: var(--color-botones) !important;
  }
  ion-header .main{
    width: 95%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-textos);
    padding: 10px 0px;
}
ion-header h5{
    width: 100%;
    margin-right: auto;
    color: var(--color-textos) !important;


}
ion-header  button{
    background-color: transparent;
    color: var(--color-botones);
    font-size: 20pt;
    width: auto;
    min-width: inherit;
    height: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    color: #000000 !important;
}
ngx-dropzone{
    background: transparent !important;
    border-color: var(--color-primario) !important;

}
ion-checkbox{
    // --checkmark-color: var(--color-check);
    // --background: var(--color-primario);
    // --border-color: var(--color-primario);
    // --background-checked: var(--color-primario);
    // -webkit-backdrop-filter: saturate(180%) blur(20px);
    // backdrop-filter: saturate(180%) blur(20px);
    // --border-color-checked: var(--color-primario);
    --border-color: #d6e601;
}
.btnPrimary{
    background-color: var(--color-primario) !important;
}
.itemUserAgre{
    width: 31.3% !important;
    margin: 1% !important;
    font-size: 10pt;
    background-color: var(--color-primario);
    outline: none;
    border: solid 1px var(--color-primario);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 50px;
}
.itemUserAgre button{
    font-size: 10pt;
    padding: 5px !important;
}
.itemServicio{
    width: 98% !important;
    margin: 1% !important;
    font-size: 10pt;
    background-color: var(--color-primario);
    outline: none;
    border: solid 1px var(--color-primario);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 50px;
}
.itemServicio button{
    font-size: 10pt;
    padding: 5px !important;
    width: auto;
    min-width: inherit !important;
    color: var(--color-botones);
}
.itemServicio  p{
    width: 85% !important;
    font-size: 11pt;
  
  }
.listSearchUser{
    width: 100%;
    max-height: 30vh;
    overflow: auto;
    background-color: var(--color-primario);
    outline: none;
    border: solid 1px var(--color-primario);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 10px;
    padding: 15px 0px;
}
.listSearchUser ion-item{
  margin: 5px 0%;
  padding: 10px 0px;

}

.listItemServicio{
    width: 100%;
    max-height: 30vh;
    overflow: auto;
    background-color: var(--color-primario);
    outline: none;
    border: solid 1px var(--color-primario);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 10px;
    padding: 15px 10px;
}
.listItemServicio ion-item{
    margin: 10px 0% !important;
    padding: 0px 0px;
  
  }
  .listItemServicio ion-item p{
    width: 85% !important;
    font-size: 11pt;
  
  }
  .listItemServicio ion-item button{
    width: auto;
    min-width: inherit !important;
    color: var(--color-botones);
  }
input[type="date"] {
    width: 100%;
    background-color: var(--color-primario);
    outline: none;
    border: solid 1px var(--color-primario);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px)
  }
  input[type="time"] {
    width: 100% !important;
    background-color: var(--color-primario);
    outline: none;
    border: solid 1px var(--color-primario);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px)
  }
ion-radio{
    --color-checked	: #ff9600;
    --color: #ff9600;
    // --border-color: var(--color-primario);

    // --background-checked: var(--color-primario);
    // -webkit-backdrop-filter: saturate(180%) blur(20px);
    // backdrop-filter: saturate(180%) blur(20px);
    // --border-color-checked: var(--color-primario);
    // --color-checked: var(--color-textos);
}
ion-list{
    --ion-item-background-color: transparent;
     --ion-item-background: transparent;
}
.select{

    color: var(--color-textos);
}
ion-select::part(placeholder) {
    color: var(--color-textos);
    opacity: .8;
  }

ion-select::part(icon) {
  color: var(--color-textos);
  opacity: 1;
}
.section1{
    padding: 5vh 0px 0px !important;
}
ion-tab-button{
    --color-selected: var(--color-hover);
}

button:hover{
    background-color: var(--color-secundario);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    transition: all ease-in-out .5s;
}
img{
    border-radius: 10px;
    margin: 10px;
}

 full-calendar{
  background-color: var(--color-primario);
  padding: 10px;
  border: solid 1px var(--color-diseno-outline);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.fc-list-table th, .fc-list-day-cushion{
    background: var(--color-primario) !important;
}
.fc-list-table td,a{
    color: var(--color-textos) !important;
}
.fc-list-event{
    background-color: inherit !important;
    background: inherit;
}
.fc-event-end:hover{
    background-color: inherit !important;
    background: inherit;
}
.fc-list-event:hover{
    background-color: inherit !important;
    background: inherit;
}
.fc-header-toolbar{
    flex-wrap: wrap;
}
.fc-header-toolbar div:first-child{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
.fc .fc-toolbar-title{
    font-size: 13pt !important;
    line-height: 1.1 !important;
    text-transform: capitalize !important;
}
.fc-button{
    font-family: filson-soft, sans-serif !important;
    font-weight: 200 !important;
    font-style: normal !important;
    font-size: 12pt !important;
    transition: all ease-in-out .5s !important;
    border: solid 1px var(--color-diseno-outline) !important;
    width: auto !important;
    margin: auto !important;
    background-color: var(--color-primario) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
    backdrop-filter: saturate(180%) blur(20px) !important;
    border-radius: 50px !important;
    color:var(--color-botones) !important;
    margin: 0px 5px !important;

}
.whats{
    border: solid 1px #18b31898 !important;
    background-color: rgba(21, 165, 45, 0.3) !important;
    width: auto;
    padding: 10px !important;
    min-width: inherit !important;
}
ion-icon{
    color:var(--color-botones) !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .cargarNew, .cargarCsv, .itemTablet{
        display: none !important;
    }
    .flexOpciones p{
        width: 70% !important;
        text-align: left;
    }

    p,a,li,label{
    font-family: filson-soft, sans-serif;
    font-weight: 200;
    font-style: normal;
    color:var(--color-textos);
    font-size: 12pt;  
    }
    input,textarea{
        font-family: filson-soft, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12pt; 
        width: 100%;
        margin: 5% 0%;
        padding: 4% 5%;
        border-radius: 50px;
        text-align: left;
        color:var(--color-textos);
        background-color: var(--color-primario);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
    button:not(.fc-button){
        font-family: filson-soft, sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 12pt;
        transition: all ease-in-out .5s;
        border: solid 1px var(--color-diseno-outline);
        width: auto;
        margin: auto;
        min-width: 100px;
        background-color: var(--color-primario);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        padding: 2% 4%;    
        border-radius: 50px;
        color:var(--color-textos);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1{
        margin: 0px;
    font-family: filson-soft, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45pt;    
    line-height: .9;
    color:var(--color-titulos);
    }
    h2{
        margin: 0px;
        font-family: filson-soft, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 40pt;    
        line-height: .9;
        color:var(--color-titulos);
    }
    h3{
        margin: 0px;
     font-family: filson-soft, sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 35pt;    
     line-height: .9;
     color:var(--color-titulos);
    }
    h4{
        margin: 0px;
     font-family: filson-soft, sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 30pt;    
     line-height: .9;
     color:var(--color-titulos);
    }
    h5{
        margin: 0px;
        font-family: filson-soft, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 15pt;    
        line-height: .9;
        color:var(--color-titulos);
       }
    
 /* Works - pass "my-custom-class" in cssClass to increase specificity */
.modalMail .modal-wrapper {
    position: fixed !important;
    --width: 100%;
     bottom: 0px;
    --height: 50vh !important;
    --background: var(--color-fondo-modal) !important;
    --border-radius: 20px 20px 0px 0px;


  }
  .modalPedido .modal-wrapper {
    position: fixed !important;
    --width: 100%;
     bottom: 0px;
    --height: 80vh !important;
    --background: var(--color-fondo-modal) !important;
    --border-radius: 20px 20px 0px 0px;


  }
  .modalNuevo .modal-wrapper {
    position: fixed !important;
    --width: 100%;
     bottom: 0px;
    --height: 70vh !important;
    --background: var(--color-fondo-modal) !important;
    --border-radius: 20px 20px 0px 0px;


  }
  .modalCarta .modal-wrapper {
    position: fixed !important;
    --width: 100%;
     bottom: 0px;
    --height: 60vh !important;
    --background: var(--color-fondo-modal) !important;
    --border-radius: 20px 20px 0px 0px;


  }
  .modalCsv .modal-wrapper {
    position: fixed !important;
    --width: 100%;
     bottom: 0px;
    --height: 70vh !important;
    --background: var(--color-fondo-modal) !important;
    --border-radius: 20px 20px 0px 0px;
  }
  .modalVer .modal-wrapper {
    position: fixed !important;
    --width: 100%;
     bottom: 0px;
    --height: 70vh !important;
    --background: var(--color-fondo-modal) !important;
    --border-radius: 20px 20px 0px 0px;
  }
  .modalEditar .modal-wrapper {
    position: fixed !important;
    --width: 100%;
     bottom: 0px;
    --height: 70vh !important;
    --background: var(--color-fondo-modal) !important;
    --border-radius: 20px 20px 0px 0px;
  }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 .cargarNew, .cargarCsv, .itemTablet{
        display: none;
    }
    .flexOpciones p{
        width: 70% !important;
        text-align: left;
    }
    
    p,a,li,label{
        font-family: filson-soft, sans-serif;
        font-weight: 200;
        font-style: normal;
        color:var(--color-textos);
        font-size: 12pt;  
        }
        input,textarea{
            font-family: filson-soft, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 12pt; 
            width: 100%;
            margin: 5% 0%;
            padding: 2% 5%;
            border-radius: 50px;
            text-align: left;
            color:var(--color-textos);
            background-color: var(--color-primario);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
        }
        button{
            font-family: filson-soft, sans-serif;
            font-weight: 200;
            font-style: normal;
            font-size: 12pt;
           
            border: solid 1px var(--color-diseno-outline);
            width: auto;
            margin: auto;
            min-width: 120px;
            background-color: var(--color-primario);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
            padding: 3% 5%;    
            border-radius: 50px;
            color:var(--color-textos);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease-in-out .5s;
        }
    
        h1{
            margin: 0px;
        font-family: filson-soft, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 45pt;    
        line-height: .9;
        color:var(--color-titulos);
        }
        h2{
            margin: 0px;
            font-family: filson-soft, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 40pt;    
            line-height: .9;
            color:var(--color-titulos);
        }
        h3{
            margin: 0px;
         font-family: filson-soft, sans-serif;
         font-weight: 700;
         font-style: normal;
         font-size: 35pt;    
         line-height: .9;
         color:var(--color-titulos);
        }
        h4{
            margin: 0px;
         font-family: filson-soft, sans-serif;
         font-weight: 700;
         font-style: normal;
         font-size: 30pt;    
         line-height: .9;
         color:var(--color-titulos);
        }
        h5{
            margin: 0px;
            font-family: filson-soft, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 15pt;    
            line-height: .9;
            color:var(--color-titulos);
           }
        
     /* Works - pass "my-custom-class" in cssClass to increase specificity */
    .modalMail .modal-wrapper {
        position: fixed !important;
        --width: 100%;
         bottom: 0px;
        --height: 50vh !important;
        --background: var(--color-fondo-modal) !important;
        --border-radius: 20px 20px 0px 0px;
    
    
      }
      .modalPedido .modal-wrapper {
        position: fixed !important;
        --width: 100%;
         bottom: 0px;
        --height: 70vh !important;
        --background: var(--color-fondo-modal) !important;
        --border-radius: 20px 20px 0px 0px;
    
    
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .itemTablet{
        display: block;
        min-width: inherit !important;
        padding: 10px 20px !important;
    }
    .flexTablet{
        display: flex;
        width: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        justify-content: center;
    }
    .flexTablet .itemTablet{
        margin: 10px !important;
    }
    .flexOpciones p{
        width: 70% !important;
        text-align: left;
    }
    .btnPop{
        display: none !important;
    }
    .btnTablet{
        min-width: 170px !important;
     }
    p,a,li,label{
        font-family: filson-soft, sans-serif;
        font-weight: 200;
        font-style: normal;
        color:var(--color-textos);
        font-size: 15pt;  
        }
        input,textarea{
            font-family: filson-soft, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 15pt; 
            width: 100%;
            margin: 5% 0%;
            padding: 2% 5%;
            border-radius: 50px;
            text-align: left;
            color:var(--color-textos);
            background-color: var(--color-primario);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
        }
        button{
            font-family: filson-soft, sans-serif;
            font-weight: 200;
            font-style: normal;
            font-size: 15pt;
            transition: all ease-in-out .5s;
            border: solid 1px var(--color-diseno-outline);
            width: auto;
            margin: auto;
            min-width: 120px;
            background-color: var(--color-primario);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
            padding: 10px 30px;    
            border-radius: 50px;
            color:var(--color-textos);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        h1{
            margin: 0px;
        font-family: filson-soft, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 45pt;    
        line-height: .9;
        color: var(--color-titulos);
        }
        h2{
            margin: 0px;
            font-family: filson-soft, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 40pt;    
            line-height: .9;
            color:var(--color-titulos);
        }
        h3{
            margin: 0px;
         font-family: filson-soft, sans-serif;
         font-weight: 700;
         font-style: normal;
         font-size: 35pt;    
         line-height: .9;
         color:var(--color-titulos);
        }
        h4{
            margin: 0px;
         font-family: filson-soft, sans-serif;
         font-weight: 700;
         font-style: normal;
         font-size: 30pt;    
         line-height: .9;
         color:var(--color-titulos);
        }
        h5{
            margin: 0px;
            font-family: filson-soft, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 15pt;    
            line-height: .9;
            color:var(--color-titulos);
           }
        
     /* Works - pass "my-custom-class" in cssClass to increase specificity */
    .modalMail .modal-wrapper {
        position: fixed !important;
        --width: 70%;
         bottom: 0px;
        --height:450px !important;
        --background: var(--color-fondo-modal) !important;
        --border-radius: 20px 20px 0px 0px;
    
    
      }

      .modalPedido .modal-wrapper {
        position: fixed !important;
        --width: 70%;
         bottom: 0px;
        --height: 70vh !important;
        --background: var(--color-fondo-modal) !important;
        --border-radius: 20px 20px 0px 0px;
        
    
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    p,a,li,label{
        font-family: filson-soft, sans-serif;
        font-weight: 200;
        font-style: normal;
        color:var(--color-textos);
        font-size: 13pt;  
        }
        input,textarea{
            font-family: filson-soft, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 13pt; 
            width: 100%;
            margin: 3% 0%;
            padding: 1% 3%;
            border-radius: 50px;
            text-align: left;
            color:var(--color-textos);
            background-color: var(--color-primario);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
        }
        button{
            font-family: filson-soft, sans-serif;
            font-weight: 200;
            font-style: normal;
            font-size: 13pt;
            border: solid 1px var(--color-diseno-outline);
            width: auto;
            margin: auto;
            min-width: inherit;
            background-color: var(--color-primario);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
            padding: 10px 15px;    
            border-radius: 50px;
            color:var(--color-textos);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        h1{
            margin: 0px;
        font-family: filson-soft, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 45pt;    
        line-height: .9;
        color:var(--color-titulos);
        }
        h2{
            margin: 0px;
            font-family: filson-soft, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 40pt;    
            line-height: .9;
            color:var(--color-titulos);
        }
        h3{
            margin: 0px;
         font-family: filson-soft, sans-serif;
         font-weight: 700;
         font-style: normal;
         font-size: 35pt;    
         line-height: .9;
         color:var(--color-titulos);
        }
        h4{
            margin: 0px;
         font-family: filson-soft, sans-serif;
         font-weight: 700;
         font-style: normal;
         font-size: 30pt;    
         line-height: .9;
         color:var(--color-titulos);
        }
        h5{
            margin: 0px;
            font-family: filson-soft, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 15pt;    
            line-height: .9;
            color:var(--color-titulos);
           }
     /* Works - pass "my-custom-class" in cssClass to increase specificity */
     .modalMail .modal-wrapper {
        position: inherit;
        --width: 700px;
         bottom: inherit;
        --height: 470px !important;
        --background: var(--color-fondo-modal) !important;
        --border-radius: 20px 20px 0px 0px;
    
    
      }
      .modalPedido .modal-wrapper {
        position: fixed !important;
        --width: 700px;
         bottom: 0px;
        --height: 70vh !important;
        --background: var(--color-fondo-modal) !important;
        --border-radius: 20px 20px 0px 0px;
    
    
      }

  .modalNuevo .modal-wrapper {
    --width: 40%;
  }
  .modalCarta .modal-wrapper {
    --width: 40%;


  }
  .modalCsv .modal-wrapper {
    --width: 40%;
  }
  .modalVer .modal-wrapper {
    --width: 40%;
  }
  .modalEditar .modal-wrapper {
    --width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


.border-r{
    border: 1px solid #ff9600;
    border-radius: 30px;
}

.bg-red{
    background-color: #eb4a44!important;
    color: white!important;
    border-radius: 30px;
    transition: 300ms;
}

.bg-green{
    background-color: #d6e601!important;
    color: white!important;
    border-radius: 30px;
    transition: 300ms;
}

.bg-white{
    border:1px solid #ff9600;
    color: black!important;
    border-radius: 30px;
    transition: 300ms;
}


.bg-red:hover{
    background-color: white!important;
    color: #eb4a44!important;
    border-radius: 30px;
    transition: 300ms;
    
}

.bgRed{
    background: #eb4a44!important;
}

.red{
    color: #eb4a44!important;
}

.finishedMarker{
    background-image: url('http://cdn.onlinewebfonts.com/svg/img_224457.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.initMarker{
    background-image: url('https://www.svgrepo.com/show/59066/location-point.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.delivery{
    background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/food-delivery-2496616-2086523.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.fullscreen {
    --width:100% !important;
    --height:100% !important;
}